<% include ./partials/header %>
		<h2>Add your comment here</h2>
		<form action="/model_select/<%=model._id%>/addcomment" method="POST">

			<div class="form-group">
				<input class="form-control" type="text" name="content" />
				<button class="btn btn-success">Submit</button>
			</div>
		</form>
<% include ./partials/footer %>
