<% include ./partials/header %>
<div class="container">
	<div style="width: 30%; margin: 25px auto">
		<h2>Add your comment here</h2>
		<form action="/model_select/<%=model._id%>/addcomment" method="POST">
			<div class="form-group">
				<input type="text" name="content" />
			</div>
			<button>Submit</button>
		</form>
	</div>
</div>
<% include ./partials/footer %>
