<% include ./partials/header %>
<div>
	<div>
		<div class="row">
			<form method="POST" action="/add_car">
				<div class="form-group">
					<label>Enter the company name: </label>
					<input class="form-control" type="text" name="company" />
				</div>

				<div class="form-group">
					<label>Enter the model: </label>
					<input class="form-control" type="text" name="model" />
				</div>

				<div class="form-group">
					<label>Enter the image url: </label>
					<input class="form-control" type="text" name="img" />
				</div>

				<button class="btn btn-primary">Submit!</button>
			</form>
		</div>
	</div>
</div>
<% include ./partials/footer %>
