<% include ./partials/header %> 
<div class="container" style="text-align: center">
	<div style="width: 30%; margin: 25px auto;">
		<div class="row">
			<form method="POST" action="/add_car">
				
				<div class="form-group">
					<label>Enter the company name: </label>
					<input type="text" name="company">
				</div>
				
				<div class="form-group">
					<label>Enter the model: </label>
					<input type="text" name="model">
				</div>
				
				<div class="form-group">
					<label>Enter the image url: </label>
					<input type="text" name="img">
				</div>
				
				<button>Submit!</button>
			</form>
		</div>
	</div>
</div>