<% include ./partials/header %> 

<div class="container" style="text-align: center">
	<h1 style="text-align: center"><strong>Welcome Car Enthusiast!<strong></h1>
	<h3><strong>Enter the details of the car you want to see</strong></h3>
	<form method="POST" action="/">
		<div>
				<h4><strong>Select the car company:</strong></h4> 
				<select name=Company>
					<% company.forEach(function(companies){ %>
						<option><%=companies.comp_name%></option>
					<% }) %>
		 		</select>
		</div><br>
		<button>Submit</button>
		<h3><strong>Didn't find your favourite company? <a href="/add_car">Click Here!</a></strong></h3>
	</form>
</div>

