<% include ./partials/header %> 

<div class="container">
	<h1><strong>Welcome Car Enthusiast!<strong></h1>
	<h3><strong>Select the details of the car you want to see</strong></h3>
	<form method="POST" action="/">
		<div class="form-group">
			<h4><strong>Select the car company:</strong></h4> 
			<select name="Company" class="form-control">
				<% company.forEach(function(companies){ %>
					<option><%=companies.comp_name%></option>
				<% }) %>
			</select>
		<button class="btn btn-success">Submit</button>
		</div>
	</form>
	<form action="/add_car" method="get">
		<h3><strong>Didn't find your favourite company? 
			<button class="btn btn-primary">Click Here!</button></strong></h3>
	</form>
</div>
<% include ./partials/footer %>

