<% include ./partials/header %>

<div class="container">
    <% if (comment2Model.size!=0) { %> 
        <p>Comments of <%= user.username %></p>
        <% comment2Model.forEach((value, key) => { %>
            <div class="container">
                <li>
                    <%= key.text %> <br>
                    on: <a href="/model_select/<%= value._id %>"><%= value.name %> </a>
                </li>
            </div>
        <% }) %> 
    <% } else{ %>
	    <p>No comments made by this user</p>
	<% } %>
</div>
<% include ./partials/footer %>
